body {
    background-color:#FAF5EC;
  }

body{
    font-family: 'Hepta Slab';
}

.intro{
  font-weight: light;
  font-size: 3vw;
  color: #69140E;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1;
}

h1{
  font-weight: 900;
  font-size: 8vw;
  color:#3C1518;
  margin-top: 0;
  padding-top: 0;
  transition: 1s;
}

h1:hover{
  letter-spacing: 2vw;
  font-weight: 200;
}

.topnav{
  background: #D58936;
    padding: 10px;
    margin: 10 px;
    word-spacing: 30px;
    position: relative;
    float: right;
    
}
.active{
  font-size: 2vw;
  color: #FAF5EC;
  text-decoration: none;
  transition: 0.2s;
}
.active:hover { 
  color: #69140E
}

.active:visited {
  text-decoration: none;
}

.rectangle{
  background:#69140E;
  padding: 10px;
  margin:10px;
  height: 300px;
  display: flex;
  align-items: center;
}

.blurb{
  text-align: center;
  text-align: center;
  text-align-last: left;
  font-size: larger;
  color: #FAF5EC;
  padding:30px;
  padding-top: 0;
  line-height: 50px;
  font-size: 2vw;
  
}

.container{
  padding-top: 16%;
  padding-bottom: 10%;
}


h2{
  background: #D58936;
    position: relative;
    color: #FAF5EC;
    font-weight:normal;
    padding: 10px;
    font-size: 2vw;
    text-align: right;
}

.letters{
  font-size: 3vw;
  color: #3C1518;
  font-weight: bold;
  transition: transform .2s;
}


.charming{
  font-weight: lighter;
  font-size: 4vw;
  color: #3C1518;
  position:relative;
  left: -20%;
  width: 50%;
  transition:0.5s;
}

.charming:hover{
  font-weight: bold;
}

.whimsical{
  font-weight: normal;
  color: #D58936;
  font-size: 4vw;
  width: 50%;
  position: relative;
  right: -20%;
  transition: 0.5s;
}

.whimsical:hover{
  font-weight: bolder;
}


.earthy{
  font-weight: bold;
  color: #69140E;
  font-size: 4vw;
  width: 50%;
  position: relative;
  left: -20%;
  transition: 0.5s;
}

.earthy:hover{
  font-weight:900;
}


.vibrant{
  font-weight: lighter;
  color: #3C1518;
  font-size: 4vw;
  width: 50%;
  position: relative;
  right: -20%;
  transition: 0.5s;
}

.vibrant:hover{
  font-weight: bolder;
}

.fordisplay{
  position: relative;
  left: 30%;
}

.letters{
  position: relative;
  left: 5%;
}


.block{
  display: inline-block;
  width: 5%;
  padding: 1%;
  transition: transform .2s;
}

.block:hover{
  transform: scale(1.5);
  color: #9a1f16;
}

.block2{
  display: inline-block;
  width: 5%;
  padding: 1%;
  transition: transform .2s;
  color: #9a1f16;
}

.block2:hover{
  transform: scale(1.5);
  color:#D58936;
}

.block3{
  display: inline-block;
  width: 5%;
  padding: 1%;
  transition: transform .2s;
  color: #D58936;
}

.block3:hover{
  transform: scale(1.5);
  color:#e4cb50;
}

.paragraph1{
  display: inline-block;
  width: 15%;
  padding: 1%;
  font-size: 1.5vw;
  color: #921F17;
  font-weight: bold;
  transition: 0.5s;
}

.paragraph2{
  display: inline-block;
  width: 20%;
  padding: 1%;
  font-size: 1.5vw;
  text-align: center;
  color: #D58936;
  font-weight: normal;
  line-height: 2.6vw;
  transition: 0.5s;
}

.paragraph3{
  display: inline-block;
  width: 20%;
  padding: 1%;
  font-size: 1.5vw;
  line-height: 2.5vw;
  font-weight: lighter;
  text-align: justify;
  transition: 0.5s;
}

.paragraph4{
  display: inline-block;
  width: 15%;
font-size: 1.39vw;
  text-align: right;
  color: #69140E;
  font-weight: 900;
  line-height: 1.6vw;
  transition: 0.5s;
}

.bodycopy{
  position: relative;
  left: 100px;
}

.informationalcontrast1{
  display: inline-block;
  width: 30%;
  padding: 1%;
}

.informationalcontrast2{
  display: inline-block;
  width: 25%;
  padding: 1%;
}

.informationalcontrast3{
  display: inline-block;
  width: 25%;
  padding: 1%;
}

.title1{
  font-weight: 900;
  font-size: 2vw;
}

.date1{
  font-size: 1.5vw;
  font-weight: 600;
  color: #69140E;
}

.time1{
  font-size: 1.5vw;
  color: #9a1f16;
}

.place1{
  font-size: 1.2vw;
  color: #D58936;
}

.blurb1{
  font-size: 1vw;
  font-weight: 200;
}


.title2{
  font-weight: 900;
  font-size: 1.8vw;
  color: #9a1f16;
}

.date2{
  font-size: 1.2vw;
  font-weight: 600;
  color: #D58936;
  text-align: right;
}

.time2{
  font-size: 1.2vw;
  font-weight: 600;
  color: #D58936;
  text-align: left;
}

.blurb2{
  line-height: 1.5vw;
  text-align: center;
  font-weight: 400;
  color: #ce9e00;
  font-size: 1.2vw;
}

.title3{
  font-weight: 900;
  font-size: 1.8vw;
  color: #D58936;
  text-align: center;
}

.date3{
  font-size: 1.2vw;
  font-weight: 600;
  color: #9a1f16;
  text-align: left;
}

.time3{
  font-size: 1.2vw;
  font-weight: 600;
  color:#9a1f16;
  text-align: left;
}

.place3{
  font-size: 1.2vw;
  font-weight: 400;
  color:#69140E;
  text-align: right;
}

.blurb3{
  font-size: 1vw;
  font-weight: 350;
  color: #D58936;
  text-align: right;
  line-height: 1.2vw;
}

.informationalcontrast{
  padding-left: 3vw;
}

.paragraph1:hover{
  color: #3C1518;
}

.paragraph2:hover{
  color: #3C1518;
}

.paragraph3:hover{
  color: #3C1518;
}

.paragraph4:hover{
  color: #3C1518;
}


